<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite" parallel="tests">
    <listeners>
        <listener class-name="Tepbac.TestComponents.Listeners"/>
    </listeners>
    <test name="Submit Order Test" thread-count="5">
        <classes>
            <class name="Tepbac.tests.SubmitOrderTest"></class>
        </classes>
    </test>
    <test name="Error Validations Test" thread-count="5">
        <classes>
            <class name="Tepbac.tests.ErrorValidationTest"></class>
        </classes>
    </test>
</suite>
